<!-- WORK -->
<section id="cases" class="section section--bg cd-section no-pad-bottom">

	<div class="wrap">
		<article class="post os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
			<header class="center-text">
					<h2 class="post__title editable">Our Work</h2>	
			</header>
			<div class="post__body center-text editable">
				<p>We have worked with companies of different sizes across different countries. That includes global fortune 500 companies as well as leading B2Bs operating acrross 17 industries. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>

				<div class="video-embed__container margin-top os-animation"  data-os-animation="fadeIn" data-os-animation-delay="0.35s">
					<div class="video-embed__overlay">
						<div class="video-embed__button"></div>
						<p class="video-embed__text editable">Watch our CEO talk about what we did for the World</p>
					</div>
					<img class="vimeo-player" data-vimeo-id="68470326" src="http://placehold.it/640x480" alt="Video thumbnail">
				</div>
			</div>

		</article>
	</div>

	<!-- HERO -->
	<article class="post no-pad-bottom">
		<div class="case-row bg-white">
			<!-- WRAP -->
			<div class="wrap--wide">

				<div class="l-grid">

					<div class="case-logo os-animation editable" data-os-animation="fadeInUp" data-os-animation-delay="0.75s">
						<img src="assets/img/case-logo-microsoft.png" alt="Microsoft" />
					</div>

					<div class="case-logo os-animation editable" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">
						<img src="assets/img/case-logo-vodafone.png" alt="Nestle" />
					</div>

					<div class="case-logo os-animation editable" data-os-animation="fadeInUp" data-os-animation-delay="0.25s">
						<img src="assets/img/case-logo-google.png" alt="Vodafone" />
					</div>

					<div class="case-logo os-animation editable" data-os-animation="fadeInUp" data-os-animation-delay="0s">
						<img src="assets/img/case-logo-samsung.png" alt="EWA" />
					</div>
				

				</div>

			</div>
			<!-- // WRAP -->
		</div>
	</article>
	<!-- // HERO -->

	<!-- CASES -->
	<div class="box-pad">
		
		<div class="wrap">
			<div class="l-grid">
				
				<article class="post os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
					<header class="center-text">
						<h3 class="post__subtitle editable"></h3>
					</header>
					
					<div class="post__body center-text editable">
						<p>We work with a wide variety of organizations and institutions to develop unique social media strategy for them. We highly value our clients' trust and confidentiality so if you are interested in working with us we can provide you with example case studies upon request. Just send us an email at <a href="mailto:smile@inspirio.com" target="_blank">hello@brands.me</a> or use the contact form at the end of the page.</p>
					</div>
				</article>
			<!-- l-grid -->
			</div>
		</div>

	</div>
	<!-- // CASES -->

</section>
<!-- // WORK -->
