<section id="video-hero" class="video-hero">
	
	<div class="video-hero--logo">
		<img src="assets/img/logo-light.png" alt="Inspirio logo" class="logo" />
	</div>

	
	<h1 class="sr-only">We deliver results with strategic social media</h1>
	<h2 class="video-hero--title">Designing &amp; executing strategic social media<br>projects to inspire</h2>
	
    <div class="covervid-wrapper">

        <video class="covervid-video" autoplay loop poster="assets/img/video-fallback.jpg">
            <source src="assets/video/inspirio-hero-video.mp4" type="video/mp4">
            <source src="assets/video/inspirio-hero-video.webm" type="video/webm">
        </video>

    </div>

</section>