<!-- WORK -->
<section id="cases" class="section section--bg cd-section">

	<div class="wrap">
		<article class="post">
			<header class="center-text">
					<h2 class="post__title">Cases</h2>	
			</header>
			<div class="post__body center-text">
				<p>We have worked with companies of different sizes across different countries. That includes global fortune 500 companies as well as leading B2Bs operating in 17 industries.</p>

				<p>We also enjoy working with young companies with forward-thinking ideas and products. We are very happy to provide our cases in further detail. Just let us know which one.</p>

				<div class='embed-container margin-top'>
					<iframe src='https://player.vimeo.com/video/90646864?title=0&amp;byline=0&amp;portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
			</div>

		</article>
	</div>


	
</section>
<!-- // WORK -->
