// Layout
//
//


$max-width: 960px;
$max-width-wide: 1240px;
$max-width-paragraph: 42.5em;


// super light grid - it works with the .cd-container class inside style.scss
@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

*, *:after, *:before {
	box-sizing: border-box;
}

.wrap {
	@include clearfix;
    margin: 0 auto;
	padding: 0 1.5%;

	@include MQ(M) {
		padding: 0 3%;
	}

	@include MQ(L) {
		padding: 0;
		max-width: $max-width;
	}
}

.wrap--wide {
	@include clearfix;
    margin: 0 auto;
	padding: 0 1.5%;

	@include MQ(M) {
		padding: 0 3%;
	}

	@include MQ(L) {
		padding: 0;
		max-width: $max-width-wide;
	}
}

.l-grid {
	@include clearfix;
}

%grid-1-2 {
	@include span(1/2, $cycle: 2);
}

%grid-1-3 {
	@include span(1/3, $cycle: 3);
}

%grid-1-4 {
	@include span(1/4);
}

%grid-1-5 {
	@include span(1/5);
}

%grid-1-6 {
	@include span(1/6);
}