$icons: (
      sprite: (width: 824px, height: 834px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
     about: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: 0px),
     box-email: (width: 24px, height: 24px, backgroundX: -48px, backgroundY: -48px),
     box-linkedin: (width: 24px, height: 24px, backgroundX: -72px, backgroundY: -72px),
     box-skype: (width: 24px, height: 24px, backgroundX: -96px, backgroundY: -96px),
     box-twitter: (width: 24px, height: 24px, backgroundX: -120px, backgroundY: -120px),
     close: (width: 64px, height: 64px, backgroundX: -144px, backgroundY: -144px),
     contact: (width: 48px, height: 48px, backgroundX: -208px, backgroundY: -208px),
     eye: (width: 64px, height: 64px, backgroundX: -256px, backgroundY: -256px),
     icon-play: (width: 48px, height: 58px, backgroundX: -320px, backgroundY: -320px),
     menu: (width: 24px, height: 24px, backgroundX: -368px, backgroundY: -378px),
     partnership: (width: 48px, height: 48px, backgroundX: -392px, backgroundY: -402px),
     plus: (width: 64px, height: 64px, backgroundX: -440px, backgroundY: -450px),
     pointer-left: (width: 64px, height: 64px, backgroundX: -504px, backgroundY: -514px),
     pointer-right: (width: 64px, height: 64px, backgroundX: -568px, backgroundY: -578px),
     process: (width: 48px, height: 48px, backgroundX: -632px, backgroundY: -642px),
     services: (width: 48px, height: 48px, backgroundX: -680px, backgroundY: -690px),
     team: (width: 48px, height: 48px, backgroundX: -728px, backgroundY: -738px),
     work: (width: 48px, height: 48px, backgroundX: -776px, backgroundY: -786px),
);