//
// Cases
// 

.case-row .l-grid {
	text-align: center;
}


.l-grid .case-logo {

	width: 100%;
	margin-top: $base-spacing*1.5;
	text-align: center;
	
	@include MQ(M) {
		display: inline-block;
		margin-right: $base-spacing*2;
		margin-top: 0;
		width: auto;

		&:last-of-type {
			margin-right: 0;
		}
	}

	img {
		max-height: 100px;
	}
	
}

.l-grid {
	.case-box {
		@include MQ(M) {
			@include span(1/3);
		}
	}
}


.case-row {
	margin: $base-spacing*3 0 0 0;
	padding: $base-spacing*2 0;
}


