// Hero element
//
//

.hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	position: relative;
	color: white;
}

.hero--about {
	background-image: url('../img/hero-about-woman.jpg');
	background-attachment: fixed;
}

.touch .hero--about {
	background-attachment: scroll;
}

.hero__content {
	background-color: rgba($brand-gray-dark, 0.45);
	padding: $base-spacing*2 0;
	text-shadow: 0px 1px 1px $brand-gray;
}


.hero__header {
	@include heading-5;
	@include text-bold;
	margin-bottom: $base-spacing/2;
}