/// Mixin for creating arrows and pointers
///
/// @author Ilja A. Panic
///
/// @access public
///
/// @param {Length} $width - arrow's width
/// @param {Length} $height - arrow's height
/// @param {Value} $direction - which direction is the arrow pointing to
/// @param {Value} $color - color of the arrow
///
/// @example scss - Usage
///   .foo:after {
///     @include arrow(20px, 20px, down, #fff);
///   }

@mixin arrow($width: 20px, $height: 20px, $direction: up, $color: red) {
  width: 0;
  height: 0;
  // Right
  @if $direction == right {
    border-top: $height / 2 solid transparent;
    border-bottom: $height / 2 solid transparent;
    border-left: $width solid $color;
  }
  // Left
  @if $direction == left {
    border-top: $height / 2 solid transparent;
    border-bottom: $height / 2 solid transparent;
    border-right: $width solid $color;
  }
  // Up
  @if $direction == up {
    border-left: $width / 2 solid transparent;
    border-right: $width / 2 solid transparent;
    border-bottom: $height solid $color;
  }
  // Down
  @if $direction == down {
    border-left: $width / 2 solid transparent;
    border-right: $width / 2 solid transparent;
    border-top: $height solid $color;
  }
}